.m-industry {
    .pb(75px);
    .wp {
        .flex;
        gap: 20px;
    }
}
.m-column {
    .pb(75px);
    &:nth-child(odd) {
        background-color: #fff;
    }
    .m-content {
        .flex;
        justify-content: space-between;
        &.m-content-4 {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: @phone) {
    .m-industry {
        .pb(30px);
        .wp {
            .flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
    }
    .m-column {
        .pb(30px);
        .m-content {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            &.m-content-4 {
                gap: 0;
            }
        }
    }
    .m-item-escrow {
        flex-direction: column;
        align-items: center;
    }
}
